.hero--container {
    min-height: 100vh;
    max-width: 100vw;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;

}
.hero--wrapper {
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    min-height: 100vh;
    width: 100vw;
    

      
}
.hero--content-wrapper {
    width: 90vw;
    height: 100vh;
    background-color: #242526;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0px 2px 10px #090909;

}
.hero--desc-wrapper {
    width: 20vw;
    justify-content: center;
    align-self: center;
    margin-left: 5vw;
    
}
.hero--gallery-wrapper {
    transform: rotate3d(.5,-.866,0,15deg) rotate(1deg);
    box-shadow:2em 4em 6em -2em #000, 1em 2em 3.5em -2.5em rgba(0,0,0,.5);
    transition:transform .4s ease, box-shadow .4s ease;
    border-radius: .5em;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left:0vw;
    
}
.hero--gallery-table-img {
    width: 15vw;
    height: 11vw;
    border-radius: .5em;
}
.hero--header-wrapper-bottom {
    color:white;
    font-size: xx-large;

}

.hero--header-wrapper-top {
    color:#1967ff;
    font-size: medium;
}
.hero--body-wrapper {
    color: white;
    font-size: large;
}

.hero--body {
    
}

.table-float {
    transform:
    rotateX(10deg);
  transition: 0.6s ease all;
  border-radius: .5em;

}
.table-float:hover {
    transform:
      perspective(800px)
      rotateY(-25deg)
      translateY(-50px)
      rotateX(-4deg)
      scale(1);
    filter: blur(0);
    opacity: 1;
}
.image-fullscreen {
    width: 80vw;
    opacity: 1;
    transition: all 0.3s ease-in;
}

@media screen and (max-width:900px) {
    .hero--desc-wrapper {
    }
    .hero--header-wrapper-top {
        color:#1967ff;
        font-size: small;
    }
    .hero--body-wrapper {
        color: white;
        font-size: small;
    }
    .hero--header-wrapper-bottom {
        color:white;
        font-size: x-large;
    }
    
}


@media screen and (max-width: 750px) {

 


    .hero--content-wrapper {
        width: 90vw;
        height: 100vh;
        background-color: #242526;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 10px;
        box-shadow: 0px 2px 10px #090909;
    
    }
    .hero--desc-wrapper {
        width: 70vw;
    }

    
.hero--gallery-table-img {
    width: 100%;
    height: 20vw;
    border-radius: 0em;
}
.hero--header-wrapper-bottom {
    color:white;
    font-size: xx-large;
}

.hero--header-wrapper-top {
    color:#1967ff;
    font-size: medium;
}
.hero--body-wrapper {
    color: white;
    font-size: x-large;
}
.hero--gallery-wrapper {
    transform: rotate3d(0,0,0,0000000000deg) rotate(0deg);
    box-shadow:2em 4em 6em -2em #000, 1em 2em 3.5em -2.5em rgba(0,0,0,.5);
    transition:transform .4s ease, box-shadow .4s ease;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left:0vw;
    
}
.table-float {
    transform:
    rotateX(0deg);
  transition: 0.6s ease all;
  border-radius: 0em;

}
.table-float:hover {
    transform:
      perspective(0px)
      rotateY(0deg)
      translateY(-50px)
      rotateX(0deg)
      scale(1.5);
    filter: none;
    z-index: 2;
    opacity: 1;
}
}