.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0e0e0e;
    align-items: center;
    border-top: #1967ff;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 3rem 0 0.5rem 0;
}

.footer__link-items {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    box-sizing: border-box;
    width: 150px
}
.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__container h3 {
    margin-bottom: 16px;
    color: white;
}
.footer__container > h3 {
    color: white;
}
.footer__container a {
    color: #fff;
    font-size: medium;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
.footer__container p {
    font-size: small;
}
.footer__container a:hover {
    color: #1967ff;
    transition: 0.2s ease-in-out;
}
.footer__bottom-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer__social-icon {
    margin-right: 10px;

}

.footer__linkedin-container {
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: row;

}

.footer__linkedin-pic {
    object-fit: fill;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-color: #b7e023;
    border-width:2px;
    border-style: solid;
   
}

.footer__copyright-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight:500;
    padding: 2px 2px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    color: white;
    font-size: xx-small;
    margin-right: auto;
}

.footer__copyright-text {
    font-size: large;
}

.icon-style {
    color: #fff;
}
.icon-style:hover {
    color: #1967ff;
    transform: scale(1.3);
    transition: all 0.15s ease-in-out;
}
.footer__icon-bar-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


@media screen and (max-width: 512px) {

    .footer__bottom-bar {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer__copyright-text-wrapper {
        margin-right: 0;
    }
}