.navbar {
    background: #242526;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    position: sticky;
    top: 0;
    z-index: 999;

  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 65px;
    box-shadow: 0px 1px 1px #1967ff;
    

  }
  
  .container {
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  
  .navbar-logo {

    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.0rem;
    display: flex;
    align-items: center;
    font-size: large;
  }
  
  .navbar-icon {
    margin-right: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: end;
  }
  
  .nav-item {
    height: 65px;
    border-bottom: 2px solid transparent;
  }
  .nav-item-more {
    height: 65px;
    border-bottom: 2px solid transparent;
  }
  
  .nav-item:hover {
    border-bottom: 5px solid #fff;
    transition: border-bottom 0.6s ease;

  }
  .nav-item-more:hover {
    border-bottom: 2px solid transparent;
    transition: none;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-size: medium;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .navbar {
      font-size: 1.2rem;
    }
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 60px;
      
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #242526;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 1.0rem;
      width: 100%;
      display:table;
    }
  
    .nav-links:hover {
      color: #1967FF;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 10%);
      font-size: smaller;
      border: none;
      border-bottom-style: none;
      border-bottom-width: 0px;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 25%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 120px;
    }
  }