.gallery--section {
    min-height: 100vh;
    background-color: #18191A;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    
    
}
.gallery--pane {
    width: 85vw;
    height: 100;
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px 0px;
    box-shadow: 0px 2px 10px #090909;


}
.gallery--item-wrapper {
    background-color: #18191A;
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: 8vh;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 2px 7px 15px #090909;
    border-radius: 10px;

}
.gallery--video-style {
    width: 40vw;
    height: 20vw;
    -o-object-fit: cover;
    object-fit: cover;
    border-width: 0;
    border-radius: 12px;
}
.gallery--video-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40vw;
    height: 20vw;
    overflow: hidden;
    background-color: #242424;
    border-radius: 12px;
}
.gallery--video-container {
    background-color:#242424;
    transform: perspective(1300px) rotateY(23deg);
    border-radius: 1rem;
    box-shadow: #000 -15px 35px 50px -12px;
    transition: transform 1s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 40vw;
    z-index: 0;
    margin-right: 50px;
    
}
.gallery--video-container:hover {
    transform: scale(1.2) perspective(3000px) rotateY(5deg) translateX(0vw);
    box-shadow: #00308f 0px 25px 25px -12px;
    transition: all 0.6s ease-in;
}
.gallery--video-content {
    z-index: 3;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.gallery--desc-container-active {
    opacity: 1;
    transition: all 1.0s ease-in-out;
    transform: translateX(1vw);
    position: relative;
    width: 22vw;
}
.gallery--desc-container {
    opacity: 1;
    transition: all 1.0 ease-in-out;
    transform: translateX(-3vw);
    width: 22vw;
}
.gallery--header-wrapper {
    color: #1967FF;
    font-size: large;
}

.gallery--desc-wrapper {
    color: white;
    height: 100%;
    width: 100%;
    font-size: medium;
}



.gallery--video-container-inverse {
    align-self: center;
    background-color:#242424;
    transform: perspective(1300px) rotateY(336deg);
    border-radius: 1rem;
    box-shadow: #000 15px 35px 50px -12px;
    transition: transform 1s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vw;
    width: 40vw;
    z-index: 0;
    margin-left: 00px;
}
.gallery--video-container-inverse:hover {
    transform: scale(1.2) perspective(3000px) rotateY(360deg) translateX(4vw);
    box-shadow: #00308f 0px 25px 25px -12px;
    transition: all 0.6s ease-in;


    
}
.gallery--desc-container-active-inverse {
    opacity: 1;
    transition: all 1.0s ease-in-out;
    transform: translateX(-1vw);
    position: relative;
    width: 22vw;

}
.gallery--desc-container-inverse {
    opacity: 1;
    transition: all 1.0 ease-in-out;
    transform: translateX(3vw);
    width: 22vw;
}

.gallery--item-wrapper-inverse {
    background-color: #18191A;
    width: 70vw;
    height: 27vw;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: 8vh;
    align-items: center;
    padding: 10px 10px;   
    box-shadow: 2px 7px 15px #090909;
    border-radius: 10px; 
}
.link {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,.5);
    padding: 3px 3px;
    border-radius: 3px;
}
.link:hover {
    color:#1967ff
}
@media screen and (max-width: 1000px) {
    .gallery--header-wrapper {
        font-size: medium;

    }
    .gallery--desc-wrapper {
        font-size: small;
    }
    
    .gallery--item-wrapper {
        height: 100%;
        margin-bottom: 8vh;
    }
    .gallery--item-wrapper-inverse {
        height: 100%;
        margin-bottom: 8vh;
    }
    .gallery--header-wrapper {
        color: #1967FF;
        font-size: small;
    }
    
    .gallery--desc-wrapper {
        color: white;
        height: 100%;
        width: 100%;
        font-size: small;
    }
    
}

@media screen and (max-width: 750px) {
    .gallery--item-wrapper {
        width: 85vw;
    }
    .gallery--item-wrapper-inverse {
        width: 85vw;
        
    }
    .gallery--header-wrapper {
        font-size: medium;

    }
    .gallery--desc-wrapper {
        font-size: small;
    }    


    .gallery--header-wrapper {
        font-size: small;

    }
    .gallery--desc-wrapper {
        font-size: small;
        width: 22vw;        
    }
    .gallery--desc-container-active {
        opacity: 1;
        transition: all 1.0s ease-in-out;
        transform: translateX(-5vw);
        position: relative;
        width: 14vw;
    }
    .gallery--desc-container {
        opacity: 1;
        transition: all 1.0 ease-in-out;
        transform: translateX(-11vw);
        width: 14vw;
    }
    .gallery--desc-container-active-inverse {
        opacity: 1;
        transition: all 1.0s ease-in-out;
        transform: translateX(-3vw);
        position: relative;
        width: 35vw;
    }
    .gallery--desc-container-inverse {
        opacity: 1;
        transition: all 1.0 ease-in-out;
        transform: translateX(-4px);
        width: 20vw;
    }
    .gallery--video-container-inverse { 
        margin-left: 0px;

    }

        .gallery--item-wrapper-inverse {
            min-height: 100vh;
        }

        .gallery--item-wrapper {
            min-height: 100vh;
        }

        .gallery--desc-container {
            opacity: 1;
            width: 70vw;
            height: 100%;
            align-self: center;
            transition: none;
            transform: translateX(0vw);
            
        }
        .gallery--desc-wrapper {
            width: 70vw;
            height: 100%;
            font-size: medium;
        }
        
        .gallery--header-wrapper {
            width: 70vw;
            font-size: x-large;
            
        }
        .gallery--video-container {
            width: 85vw;
            height: 55vw;
            transform: perspective(0px) rotateY(0deg);
            margin-right: 0px;
        }
        .gallery--video-container-inverse {
            width: 85vw;
            height: 55vw;
            transform: perspective(0px) rotateY(0deg);
            margin-right: 0px;
        }
        .gallery--video-container:hover {
            transform: scale(1) perspective(0px) rotateY(0deg) translateX(0vw);
            box-shadow: #000 -15px 35px 50px -12px;
        }
        .gallery--video-container-inverse:hover {
            transform: scale(1) perspective(0px) rotateY(0deg) translateX(0vw);
            box-shadow: #000 -15px 35px 50px -12px;
        }
        .gallery--video-style {
            width: 85vw;
            height: 55vw;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 12px;
        }
        .gallery--video-background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 85vw;
            height: 55vw;
            overflow: hidden;
            background-color: #242424;
            border-radius: 12px;
        }


    }




